<footer  *ngIf="isLoggedIn">
    <div class="container-fluid px-5 py-2 mt-lg-1">
        <div class="row">
            <h5>Get the FreshCart app</h5>
            <p>We will send you a link , open it on your phone to download the app</p>

            <div class="col-md-12 ">
                <div class="d-flex justify-content-around">
                    <input type="text" class="form-control w-75" placeholder="Email..">
                    <button class="btn btn-success text-white"> Share App link</button>
                </div>
            </div>
        </div>
        <div class="row mt-lg-4 ">
    <div class="d-flex align-items-center  mx-lg-4 ">
        <div class="col-md-6">
            <div class="d-flex ">
                <h5>Payment Partners</h5>
                <ul class="d-flex list-unstyled  ms-2" >
                    <li class="me-2"><img src="assets/images/paypal.png" class="" width="40px" alt="" srcset=""></li>
                    <li  class="me-2"><img src="assets/images/visa.jfif"  class=""  width="40px" alt="" srcset=""></li>
                    <li  class="me-2"><img src="assets/images/masterCard.png" class="" width="40px" alt="" srcset=""></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="d-flex ">
                <h5>Get deliveries with FreshCart</h5>
                <ul class="d-flex list-unstyled  ms-lg-4">
                    <li class="me-3" ><img src="assets/images/play-store-website.jpg" class="" width="80px" alt="" srcset=""></li>
                    <li><img src="assets/images/app-store-website.jpg"  class=""  width="80px" alt="" srcset=""></li>
          
                </ul>
            </div>
        </div>
    </div>
        </div>

    </div>
</footer>