<form [formGroup]="shippingAddress" (ngSubmit)="handlePay()">
    <label for="details">Details</label>
    <input type="text" class="form-control" id="details" formControlName="details">

    <label for="phone">Phone</label>
    <input type="tel" class="form-control" id="phone" formControlName="phone">

    <label for="city" class="d-block">City</label>
    <input type="text" class="form-control" id="city" formControlName="city">

    <button class="btn btn-info w-100 my-4 text-white fw-bolder" (click)="handlePay()" >Pay</button>
    
    
</form>